/*Estilizacao personalizada para a aplicacao*/

/*tabela relatorio*/
table {
    font: 17px Calibri;
    text-align: left;
}

/*estilizacao da tabela do relatorio*/
table, th, td {
    border: solid 2px #DDD;
    padding: 2px 3px;
    text-align: left;
}

/*table header do relatorio*/
th#externo {
    border: solid 2px;
}

/*titulos*/
.card .card-content .card-title {
    color:coral;
    text-align:center;
    font-size: 150%;
}

/*para textos curtos*/
.rotulo {
    float: left;
}

/*para textos compridos*/
.rotulo-textarea {
    text-align: left;
}

/*Alinhamento dos radios buttons*/
.form-horizontal .radio.radio-inline {
    margin-top: 8px;
}